Problem Statement
The acquirers in UAE prefer to have mass enablement of their merchant portfolio on the new Jaywan merchant acquirer link as it saves them the effort to do merchant enablement on the new acquirer link one by one.

Benefit hypothesis
The purpose of this feature is to build automated mass enablement scripts so that the regional team can help MSOs enable their merchant portfolio on the new Jaywan acquirer.

Procedure
In an excel sheet we have the below listed columns
1 : MSO_ID
2 : MERCHANT_ID
3 : ACQUIRER_ID
4 : BANK_MERCHANT_ID
5 : TERMINAL_ID

So we have to provide the above details in the sheet and execute a script which automatically creates Jawan acquirer link and also fills the below fields
1 : Acquirer link ID
2 : Acquirer link status
3 : Line of business
4 : Bank merchant ID
5 : Bank industry code
6 ; Goods description
7 : Partner solution ID
8 : MC send partner ID
9 : PSD2 exceptions
    MC send partner ID
    May submit PSD2 exemptions low risk
    May submit PSD2 exemptions SCA delegation
    May submit PSD2 exemptions secure corporate payments
    May submit PSD2 exemptions auth outage
10: Merchant Transaction Setup
    Default Transaction Source
    Allowable transaction sources
    Default transaction frequency
    Allowable transaction frequencies
    Payment Types
    Currency
    Card Types
    Exclusion rules
11: Terminal setup
    Terminal ID
12: Custom processing rules

Scope of testing (Acceptance criteria)
So as a QA tester i will provide the 5 details of the columns mentioned above in the excel sheet and execute the mass enablement script and verify if the jaywan acquirer link is created successfully with all the fields populated as per the requirements.
E2E transaction execution along with the above listed fields.
